extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Delicia Bills

        
        p Full Stack JavaScript Developer


        .about-bio

          
          p This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li 415-867-5309
          li its_morbin_time@aim.com

        
        a.btn-link(href='https://www.linkedin.com/in/delicia-bills/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/deliDB', target='_blank') GitHub
        a.btn-link(href='https://twitter.com/Deli_codes', target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back