extends layout.pug

block content
  article.portfolio-intro
    h1 My Portfolio
    p This demonstrates skills I've gained building projects during the summer of 2022 as part of the Intuit/Anita B Software Engineer Apprenticeship and Treehouse Full Stack JavaScript Techdegree program.  

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell 
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`) 
            h5 #{project.project_name}

      

